.faqsection {
  background-color: #f7f7f7;
  padding: 1.6rem;
}

.faq-container {
}

.heading {
  text-align: center;
}

.all-faq {
  margin: 3rem;
}

.faq-accordion {
  font-size: 30px;
  background-color: rgb(102, 90, 90);
}

.text-faq {
  font-family: "AirbnbCereal_W_Md ";
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #171717;
}

.text-faq-bottom {
  font-family: "AirbnbCereal_W_Bk ";
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #171717;
}
