.herosection {
  color: white;
  position: relative;
  height: 100vh;
  /* background-color: rgb(69, 33, 33); */
  background-image: url(../assets/herobg.png);
  background-size: cover;
}
.hero-container {
  background-image: url(../assets/herobg.png);
}
.sidebar {
  display: none;
  position: relative;
}

.hero-contact-box {
  border-radius: 25px;
  padding: 40px 20px;
  left: 100px;
  bottom: 50px;
  position: absolute;
  /* display: inline-block; */
  background-color: #f98451;
  height: 500px;
  width: 500px;
}
.contact-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 30px;
}
.hero-contact-box > h1 {
  font-size: 3rem;
}
.hero-contact-box > h4 {
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.3;
}
.contact-btn {
  font-size: 26;
}
.contact-number {
  font-weight: 300;
}

.feature-box {
  /* border: 1px solid red; */
  height: 330px;

  position: absolute;
  bottom: -20%;
  left: 48%;
  transform: translateX(-50%);
  /* transform: translateY(-50%); */
  z-index: 10;
  width: 80%;
  background-color: white;
  padding: 15px 50px;

  border-radius: 25px;
  color: #0f5f6c;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.feature-heading {
  font-size: 2.3rem;
  padding-bottom: 50px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.icon-box {
  padding-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-names {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-names > p {
  font-weight: bold;
  padding-right: 30px;
}

.icon-names > p:nth-child(3),
.icon-names > p:nth-child(2) {
  /* color: red; */
  padding-left: 20px;
}

@media screen and (max-width: 780px) {
  /* .icon-box{
    display: none
  } */

  .feature-box {
    top: 78%;
    height: 380px;
  }
  .icon-box {
    margin-left: -10px;
    justify-content: space-between;
  }
  .icons {
    height: 4rem;
  }
  .hide-mob-lines {
    display: none;
  }
  /* .sidebar {
    background-color: red;
    display: flex;
    height: 100vh;
    width: 50vw;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
  } */
  .icon-names {
    margin-left: 20px;
  }
  .hero-contact-box {
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    height: 340px;
    width: 380px;
  }
  .contact-btn {
    height: 10px;
    margin-right: auto;
  }
  .contact-number {
    padding-top: 30px;
  }
  .hero-contact-box > h1 {
    text-align: center;
    font-size: 1.9rem;
  }
  .feature-box {
    bottom: -40%;
  }
  .hero-desc {
    animation: topToBottom 2s;
    font-family: Amiri;
    font-weight: normal;
    font-size: 39px;
    letter-spacing: -0.03em;
    line-height: 44px;
    text-align: left;
    color: #fff;
  }
  .feature-heading {
    animation: rightToLeft 1s;
  }
}

@keyframes topToBottom {
  0% {
    opacity: 0;

    transform: translateY(-20px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;

    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;

    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes bottomToTop {
  0% {
    opacity: 0;

    transform: translateY(2px);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}

.hero-text {
  font-family: Amiri;
  font-weight: bold;
  font-size: 89px;
  letter-spacing: 0em;
  line-height: 45px;
  text-align: left;
  color: #fff;
}

.hero-desc {
  animation: topToBottom 2s;
  font-family: Amiri;
  font-weight: normal;
  font-size: 49px;
  letter-spacing: -0.03em;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.contact-number {
  font-family: Amiri;
  font-weight: normal;
  font-size: 21px;
  letter-spacing: -0.03em;
  line-height: 44px;
  text-align: lest;
  color: #fff;
}

.feature-heading {
  font-family: Amiri;
  font-weight: bold;
  font-size: 38px;
  letter-spacing: -0.05em;
  line-height: 44px;
  text-align: left;
  color: #0f5f6c;
}

.hero-p {
  font-family: Amiri;
  font-weight: bold;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  color: #0f5f6c;
  margin-left: 50px;
  margin-right: 50px;
}
